* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F9F5F1;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
}

.catalog_plant {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}
.catalog_plant .title_head {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.catalog_plant .title_head .sort {
  display: flex;
  flex-direction: column;
}
.catalog_plant .title_head .sort .sort_but {
  font-size: 1.875rem;
  font-weight: 500;
  font-family: "Nunito";
  font-style: normal;
  text-align: left;
  line-height: 41px;
  color: #222;
  border: none;
  background: none;
}
.catalog_plant .filter_menu {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: #FFFEF9;
  padding: 1.2rem 0;
  align-items: center;
}
.catalog_plant .filter_menu ul {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}
.catalog_plant .filter_menu ul li {
  display: block;
  list-style: none;
  font-size: 1.875rem;
  font-weight: 500;
  font-family: "Nunito";
  font-style: normal;
  text-align: left;
  line-height: 41px;
  color: #222;
}
.catalog_plant .filter_menu input[type=search] {
  height: 3rem;
  border: none;
  background-color: #F9F5F1;
  padding: 0 2rem;
  font-size: 1.875rem;
  font-weight: 500;
  font-family: "Nunito";
  font-style: normal;
  text-align: left;
  line-height: 41px;
  color: #222;
}

@media screen and (max-width: 1024px) {
  .catalog_plant .filter_menu ul li {
    font-size: 1.4rem;
    font-weight: 500;
    font-family: "Nunito";
    font-style: normal;
    text-align: left;
    line-height: 41px;
    color: #222;
  }
  .catalog_plant .filter_menu input[type=search] {
    font-size: 1.4rem;
    font-weight: 500;
    font-family: "Nunito";
    font-style: normal;
    text-align: left;
    line-height: 41px;
    color: #222;
  }
  .catalog li div.title_plant {
    font-size: 1.4rem;
    font-weight: 500;
    font-family: "Nunito";
    font-style: italic;
    text-align: left;
    line-height: 38px;
    color: #222;
  }
  ul.catalog li {
    justify-content: flex-end;
    gap: 0px;
    width: 250px;
  }
  .catalog li .img_plant {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .catalog_plant .title_head .sort .sort_but {
    font-size: 1.4rem;
  }
  div.head {
    font-size: 2rem;
  }
  .catalog_plant .filter_menu ul li {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Nunito";
    font-style: normal;
    text-align: left;
    line-height: 41px;
    color: #222;
  }
  .catalog_plant .filter_menu input[type=search] {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Nunito";
    font-style: normal;
    text-align: left;
    line-height: 41px;
    color: #222;
  }
  .catalog li div.title_plant {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Nunito";
    font-style: italic;
    text-align: left;
    line-height: 38px;
    color: #222;
  }
  .catalog_plant .filter_menu {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 425px) {
  .catalog_plant .title_head .sort .sort_but {
    font-size: 1rem;
  }
  div.head {
    font-size: 1.6rem;
  }
  .catalog_plant .filter_menu ul li {
    font-size: 1rem;
    font-weight: 500;
    font-family: "Nunito";
    font-style: normal;
    text-align: left;
    line-height: 41px;
    color: #222;
  }
  .catalog_plant .filter_menu input[type=search] {
    width: 20%;
    margin: 0.6rem;
    padding: 0.2rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Nunito";
    font-style: normal;
    text-align: left;
    line-height: 41px;
    color: #222;
  }
  ul.catalog li {
    justify-content: flex-end;
    gap: 0px;
    width: 176px;
    margin: 0.6rem;
  }
  .catalog li div.title_plant {
    line-height: 24px;
    font-size: 0.9rem;
  }
  .catalog_plant .filter_menu {
    padding: 0.4rem 0;
  }
  ul#paginated-list {
    margin: 1rem 0;
  }
}
.head {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Nunito";
  font-style: italic;
  text-align: left;
  line-height: 55px;
  color: #222;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.catalog li {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 400px;
  margin: 2rem;
  background-color: #FFFEF9;
  gap: 20px;
  border: 2px solid #222;
}
.catalog li .img_plant {
  width: 100%;
}
.catalog li .img_plant img {
  width: 100%;
}
.catalog li .title_plant {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  padding: 1rem;
  border-top: 2px solid #222;
  font-size: 1.75rem;
  font-weight: 500;
  font-family: "Nunito";
  font-style: italic;
  text-align: left;
  line-height: 38px;
  color: #222;
}
.catalog li:hover {
  box-shadow: 10px 10px 0px #bfb33b;
}